<li>
  {{article.title}} by {{article.author}}
  <br>
  <img src={{article.image}} alt={{article.title}}>
</li>
{{update-article article=article update="update"}}
<button {{action 'delete' article}}>Delete Article</button>
